<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="../css/styleuserpage.css" type="text/css">
</head>
<body>
<div>
    <form action="#" th:action="@{/admin/update}" th:object="${form}" method="post">
        <div class="row" style="overflow-x: auto;">
            <table>
                <thead>
                <tr>
                    <th>role</th>
                    <th>username</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>phone_number</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="user, itemStat : *{list}" th:if="${user.role == 'OPERATOR'}">
                    <td>
                        <p type="text" th:text="*{list[__${itemStat.index}__].role}"></p>
                        <input type="text" th:field="*{list[__${itemStat.index}__].role}" hidden/>
                    </td>
                    <td>
                        <p type="text" th:text="*{list[__${itemStat.index}__].username}"></p>
                        <input type="text" th:field="*{list[__${itemStat.index}__].username}" hidden/>
                        <!--   <input type="text" th:value="${userDel.username}" hidden/>-->
                    </td>
                    <td><input type="text"
                               th:field="*{list[__${itemStat.index}__].firstName}"/></td>
                    <td><input type="text"
                               th:field="*{list[__${itemStat.index}__].lastName}"/></td>
                    <td><input type="text"
                               th:field="*{list[__${itemStat.index}__].phone}"/></td>

                    <td>
                        <form name="f" th:action="@{/admin/delete}" method="post">
                            <input type="hidden" name="username"
                                   th:value="*{list[__${itemStat.index}__].username}"/>
                            <button type="submit">X</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="center">
                <input class="dws-submit" type="submit" name="submit" value="Update" id="sub_update">
            </div>
        </div>
    </form>
</div>
</body>
</html>