<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Operator</title>
    <link rel="stylesheet" href="../css/custandop.css">
</head>
<body>

<header>
    <nav>
        <div id="logo">
            <a href="#">De Livery</a>
        </div>
        <ul>
            <li><a href="/logout" class="active">Log Out</a></li>
        </ul>
    </nav>
</header>

<section id="top">
    <div class="container">
        <div class="tab_container">
            <div id="tab1" class="tab_content">
                <table>
                    <tr><th>id_order</th><th>customer</th><th>point_from</th><th>point_to</th>
                        <th>cost</th><th>weight</th><th>start_time</th><th>end_time</th><th>driver</th>
                        <th>status</th><th>description</th><th>update</th>
                    </tr>
                    <tr th:each="o : ${orders}">
                        <form action="#" th:action="@{/templates/operator}" th:object="${order}" method="post">
                        <td><input type="text" size="2" th:value="${o.idOrder}" id="idOrder" name="idOrder" readonly="readonly"></td>
                        <td><input type="text" size="5" th:value="${o.customer}" id="customer" name="customer" readonly="readonly"></td>
                        <td><input type="text" th:value="${o.pointFrom}" id="pointFrom" name="pointFrom" readonly="readonly"></td>
                        <td><input type="text" th:value="${o.pointTo}" id="pointTo" name="pointTo" readonly="readonly"></td>
                        <td><input type="text" size="2" th:value="${o.cost}" id="cost" name="cost" readonly="readonly"></td>
                        <td><input type="text" size="2" th:value="${o.weight}" id="weight" name="weight" readonly="readonly"></td>
                        <td><input type="text" size="6" th:value="${o.startTime}" id="startTime" name="startTime" readonly="readonly"></td>
                        <td><input type="text" size="6" th:value="${o.endTime}" id="endTime" name="endTime" readonly="readonly"></td>
                        <td><input type="text" size="5" th:value="${o.driver}" id="driver" name="driver"></td>
                        <td><select th:field="*{status}" >

                            <option selected th:each="s : ${order.orderCust}" th:if="${o.status.toLowerCase().equals(s.toLowerCase())}"  th:value="${s}"  th:text="${s}"></option>
                            <option th:each="s : ${order.orderCust}" th:unless="${o.status.toLowerCase().equals(s.toLowerCase())}"  th:value="${s}"  th:text="${s}"></option>
                            </select></td>
                        <td><input type="text" th:value="${o.description}" id="description" name="description" readonly="readonly"></td>
                            <td><input type="submit" name="submit" value="Update"></td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>