@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
    background-image: url(../img/bg11.jpg);
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
    z-index: 9999999;
}

header nav #logo a {
    padding: 0px 20px;
    height: 80px;
    float: left;
    font-size: 32px;
    transition: .3s;
    text-decoration: none;
    color: #E2472F;
    font-family: 'Gloria Hallelujah', cursive;
}

header nav #welcome {
    /* padding: 0px 0px;*/
    height: 50px;
    text-align: center;
    float: bottom;
    font-size: 32px;
    transition: .3s;
    text-decoration: none;
    color: #E2472F /*#151515*/;
    font-family: 'Gloria Hallelujah', cursive;
}

header nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    line-height: 80px;
    color: #fff /*#151515*/;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

header nav ul li a:focus {
    outline: none;
}

.active {
    background: #E2472F;
    color: #fff;
    border-radius: 6px;
}

.active:hover {
    background: #df6920;
    color: #000;
}

.menu {
    position: fixed;
    float: left; /* Обтекание справа */
    border: 5px solid #E2472F; /* Параметры рамки вокруг */
    width: 15%; /* Ширина колонки */
    height: 35%;
    padding: 5px; /* Поля вокруг текста */
    margin: 10% 10px 20px 5px; /* Значения отступов */

    font-size: 24px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    color: black;
}

.dws-list {
    width: 210px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}

.container {
    position: fixed;
    visibility: hidden;
    width: 75%;
    height: 50%;
    margin: 15% 5% 10% 20%;
    text-align: center;
}

.container-table {
    position: fixed;
    visibility: hidden;
    width: 75%;
    height: 75%;
    /*margin: 10% auto 20% auto;*/
    margin: 10% 5% 10% 20%; /* верхний, правый, нижний и левый.*/
    text-align: center;
}

input[type="text"], input[type="password"] {
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}
input[type="text1"] {
    width: 95%;
    height: 30px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}
select[type="text1"] {
    width: 95%;
    height: 30px;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}


.dws-submit {
    background-color: #E2472F; /*#c51a1d;*/
    height: 50px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: #000;
    font-size: 24px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    padding: 5px;
}

.dws-submit:hover {
    background-color: #df6920;
}

.dws-input input:hover {
    box-shadow: 0 0 6px 3px rgba(230, 230, 230, 1);
}

.dws-alert {
    position: fixed;
    width: 450px;
    background-color: #FF0000;
    margin-top: -55px;
    margin-left: 22%;
    font-size: 24px;
    text-align: center;
    font-family: 'Gloria Hallelujah';
}

.dws-info {
    position: fixed;
    width: 450px;
    background-color: #32CD32;
    margin-top: -55px;
    margin-left: 25%;
    font-size: 24px;
    text-align: center;
    font-family: 'Gloria Hallelujah';
}


ul.tabs {
    float: left;
    list-style: none;
    height: 45px;
    border-bottom: 1px solid silver;
    width: 100%;
}

ul.tabs li {
    float: left;
    height: 45px;
    width: 150px;
    line-height: 45px;
    background: #E2472F;
    overflow: hidden;
    position: relative;
}

ul.tabs li a {
    text-decoration: none;
    text-align: center;
    color: #000;
    display: block;
    font-size: 21px;
    padding: 0 20px;
    outline: none;
}

ul.tabs li a:hover {
    background: #df6920;
}

ul.tabs li.active, ul.tabs li.active a:hover {
    background: #fff;
}

#top {
    margin-top: 120px;
    height: 100vh;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    width: 100%;
    height: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
}

th {
    font-weight: normal;
    border-bottom: 2px solid #0d0d0d;
    color: #000;
    padding: 10px 15px;
}

td {
    color: #000;
    border-top: 1px solid #999999;
    padding: 10px 15px;
}

tr:hover td {
    background: #e6e6e6;
}

.setting {
    width: 450px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}

.setting label {
    font-size: 18px;
}

.setting input[type="text"], .setting input[type="password"] {
    width: 300px;
    height: 25px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.setting input[type="submit"] {
    background-color: #E2472F; /*#c51a1d;*/
    height: 45px;
    width: 150px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: #000;
    font-size: 18px;
}

.setting input[type="submit"]:hover {
    background-color: #df6920;
}

.setting input[type="text"]:hover, .setting input[type="password"]:hover {
    box-shadow: 0 0 6px 3px rgba(230, 230, 230, 1);
}