@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
body, html {
    background-image: url(../img/bg11.jpg);
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    font-family: 'Gloria Hallelujah', cursive;
}

.message {
    height: 400px;
    display: block;
    margin: 10px auto 0 auto;
    background-color: #f2f2f2;
    opacity: .9;
    padding: 20px;
    border-radius: 5px;
}

.message p {
    padding: 10px 35px;
    font-size: 14px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "\2714";
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "\2718";
}

.form-control {
    height: 50px;
}