@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

body {
	/*padding: 0;
	margin: 0;*/
	font-size: 13px;
	font-family: Trebuchet MS, Helvetica;
	/*font-family: 'Open Sans', sans-serif;*/
}

* {
	margin: 0;
	padding: 0;
	outline: none;
}

body, html {
	width: 100%;
	height: 100%;
}

div, p, button, span, a {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
	/*text-transform: uppercase;*/
}

h1 {
	font-size: 37px;
}

h2 {
	font-size: 23px;
	text-align: center;
}

h3 {
	font-size: 15px;
}

p {
	margin: 0;
}

section {
	padding-top: 117px;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

/*--------- header ---------*/

header {
	width: 100%;
	padding: 10px 0.5% 0px 0.5px;
	background: transparent;
	float: left;
	position: fixed;
}

/*--------------------------*/

header #logo {
	color: #fff;
	cursor: pointer;
}

header #logo span {
	font-size: 32px;
	line-height: 45px;
	font-family: 'Suez One', serif;
}

#about { 
	text-align: right;
	font-size: 14px;
	line-height: 40px;
	margin-bottom: 10px;
}

#button {
	float: right;
	border-radius: 3px;
	padding: 3px 9px;
	font-size: 14px;
	background: #fed136;
	color: #fff;
	cursor: pointer;
	margin-right: 15px;
}

#about > a {
	color: #fff;
}

#about > a:hover {
	color: #b0b0b0;
	text-decoration: underline;
}

#about > a:not(:last-child) {
	margin-right: 7%;
}

.fixed {
	z-index: 5000;
	background-color: #fff;
	border-bottom: 1px solid silver;
}

header.fixed #logo {
	color: #343434;
}

.fixed #about a {
	color: #343434;
}

.fixed #about a:hover {
	color: #7c7c7c;
}

/*--------- top ---------*/

#top {

	background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Vfv9BDZagiltwcyiq/18-wheel-truck-on-the-road-with-sunset-in-the-background-large-delivery-truck-is-moving-towards-setting-sun_rvpngowl__F0000.png);
	background-blend-mode: multiply;
	background-color: #2e3a44;
	background-size: cover;
	height: 100vh;

	text-align: center;
	color: #fff;
	font-size: 3em;

	/*background: url('../img/bg.png') no-repeat center top;
	padding-top: 47px;
	padding-bottom: 307px;*/
}

.offer {
	margin-top: 246px;
	margin-bottom: 55px;
}

.offer p {
	font-size: 20px;
	margin-top: 10px;
}

.btn {
	background-color: #ffc107;/*#c51a1d;*/
	padding: 20px 75px;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
	border: none;
	color: #000;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	font-family: 'Suez One', serif;

	/*background: #ecac2e;
	color: #000;
	font-weight: bold;
	width: 240px;
	padding: 20px 0;
	text-align: center;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
	margin: 0 auto;
	font-size: 18px;
	margin-top: 50px;
	transition: all 0.5s ease;*/
}

.btn:hover {
	background-color: #c51a1d;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	color: #fff;
	/*background: #d5920e;*/
}

/*--------- main ---------*/

#main {
	padding: 55px 0;
	height: 100vh;
}

.main_items {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}

.mitem {
	width: 340px;
	background: url(../img/1.png) no-repeat left top;
	padding-left: 87px;
	padding-top: 15px;
}

.mitem:nth-child(2) {
	background: url(../img/2.png) no-repeat left top;
}

.mitem:nth-child(3) {
	background: url(../img/3.png) no-repeat left top;
}

.mitem h3 {
	margin-bottom: 5px;
}

/*--------- overview ---------*/

#overview {
	padding: 55px 0;
	height: 100vh;
}

.overview_items_str1 {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}

.oitem {
	width: 340px;
	padding-top: 15px;
}

.oitem h3 {
	margin-bottom: 5px;
	text-align: center;
}


.overview_items_str2 {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
}

/*--------- overview ---------*/

#footer {
	background: #000;
	color: #fff;
	font-size: 11px;
	margin-top: 116px;
	padding: 55px 0;
}

.footer-text {
	display: flex;

}

.footer-item {
	margin-right: 140px;
}