@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

body,html {
    background-image: url(../img/bg11.jpg);
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
    z-index: 9999999;
    background-color: #0d0d0d;
}

header nav #logo a {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
    text-decoration: none;
    color: #fff/*#151515*/;
}

header nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    line-height: 80px;
    color: #fff/*#151515*/;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

header nav ul li a:focus {
    outline: none;
}

.active {
    background: #E2472F;
    color: #fff;
    border-radius: 6px;
}

.active:hover {
    background: #df6920;
    color: #000;
}

ul.tabs {
    float: left;
    list-style: none;
    height: 45px;
    border-bottom: 1px solid silver;
    width: 100%;
}

ul.tabs li {
    float: left;
    height: 45px;
    width: 150px;
    line-height: 45px;
    background: #E2472F;
    position: relative;
}

ul.tabs li a {
    text-decoration: none;
    text-align: center;
    color: #000;
    display: block;
    font-size: 21px;
    padding: 0 20px;
    outline: none;
}

ul.tabs li a:hover {
    background: #df6920;
}

ul.tabs li.active, ul.tabs li.active a:hover  {
    background: #fff;
}

#top {
    margin-top: 120px;
    height: 100vh;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    width: 100%;
    height: 100%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
}

th {
    font-weight: normal;
    border-bottom: 2px solid #0d0d0d;
    color: #000;
    padding: 5px 5px;
}

td {
    color: #000;
    border-top: 1px solid #999999;
    padding: 5px 5px;
}

tr:hover td {
    background: #e6e6e6;
}


.dws-submit {
    background-color: #E2472F;/*#c51a1d;*/
    height: 50px;
    width: 150px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color: #000;
    font-size: 24px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}

.dws-submit:hover {
    background-color: #df6920;
}

.dws-input {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}