@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body, html {
    background-image: url(../img/bg11.jpg);
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    background-blend-mode: multiply;
    background-color: #737e88bf;
}

* {
    font-size: 18px;
    font-family: 'Gloria Hallelujah', cursive;
}

#alert {
    width: 500px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

#alert span {
    color: #000;
    font-size: 40px;
    margin: 20px 0;
}

.form-control {
    height: 50px;
}
