@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

* {
    /*box-sizing: border-box;	!*Применяется для изменения алгоритма расчета ширины и высоты элемента*!*/
    font-size: 18px;
    font-family: 'Gloria Hallelujah', cursive;
}

#alert {
    width: 500px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px;
    text-align: center;
    position:absolute;
    z-index:9999
}

#alert span {
    color: #000;
    font-size: 40px;
    margin: 20px 0;
}