!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About me</title>
    <link rel="stylesheet" href="../css/custandop.css">
</head>
<body>

<header>
    <nav>
        <div id="logo">
            <a href="#">De Livery</a>
        </div>
        <ul>
            <li><a href="/logout" class="active">Log Out</a></li>
        </ul>
    </nav>
</header>

<section id="top">
    <div class="container">
        <p>Edit your account:</p>
        <form action="#" th:action="@{/customer/aboutme}" th:object="${user}" method="post">
            <dl>
                <dd><dt>point_from<input type="text" class="dws-input" th:value="${user.firstName}" id="firstName" name="firstName">
                <dd><dt>point_to<input type="text" class="dws-input" th:value="${user.lastName}" id="lastName" name="lastName">
                <dd><dt>weight<input type="text" class="dws-input" th:value="${user.phone}" id="phone" name="phone">
                <dd><input class="dws-submit" type="submit" name="submit" value="Edit">
            </dl>
        </form>
    </div>
</section>
</body>
</html>