<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <link rel="stylesheet" href="/css/admin.css" type="text/css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <script th:inline="javascript" th:if="${errorMessage}">
        window.onload = function () {
            var elem = document.getElementById('id_con');
            elem.style.visibility = 'visible';
            var elem2 = document.getElementById('id_subreg');
            elem2.style.width = "200px"
        }
    </script>
    <!--не знаю как сделать условие или-->
    <script th:inline="javascript" th:if="${infoMessage}">
        window.onload = function () {
            var elem = document.getElementById('id_con');
            elem.style.visibility = 'visible';
            var elem2 = document.getElementById('id_subreg');
            elem2.style.width = "200px"
        }
    </script>
</head>
<body>

<header>
    <nav>
        <div id="logo">
            <a href="/">De Livery</a>
        </div>

        <ul>
            <li><a href="/logout" class="active">Log Out</a></li>
        </ul>
        <div id="welcome">
            Admin page
        </div>
    </nav>
</header>


<div class="menu">

    <h2>Menu</h2>
    <form name="click">
        <input class="dws-submit" id="id_submit" type="submit" name="submit" value="Add user">
    </form>
    <form name="click" action="/admin/page/drivers" method="get">
        <input class="dws-submit" id="id_submit1" type="submit" name="submit" value="Show users">
    </form>
    <script th:inline="javascript">
        document.getElementById('id_submit').addEventListener('click', function (e) {
            //Без этого форма будет отправляться на сервер и страница будет перезагружаться [(c) dilap54]
            e.preventDefault();
            var elem2 = document.getElementById('id_subreg');
            elem2.style.width = "200px"
            var elem1 = document.getElementById('id_top');
            elem1.style.visibility = 'hidden'
            var elem = document.getElementById('id_con');
            if (elem.style.visibility == 'visible')
                elem.style.visibility = 'hidden';
            else
                elem.style.visibility = 'visible';
        })
        document.getElementById('id_submit1').addEventListener('click', function (e) {
            e.preventDefault();
            var elem = document.getElementById('id_con');
            elem.style.visibility = 'hidden';
            var elem1 = document.getElementById('id_top');
            if (elem1.style.visibility == 'visible')
                elem1.style.visibility = 'hidden';
            else
                elem1.style.visibility = 'visible';
        })
    </script>
</div>
<div id="id_con" class="container">

    <div th:if="${errorMessage}">
        <div class="dws-alert" th:text="${errorMessage}">
        </div>
    </div>
    <div th:if="${infoMessage}">
        <div class="dws-info" th:text="${infoMessage}">
        </div>
    </div>

    <form action="#" th:action="@{/admin/page}" th:object="${userDTO}" method="post">
        <div class="dws-input">
            <input type="text" th:field="*{username}" placeholder="Enter username" required>
            <input type="text" th:field="*{firstName}" placeholder="Enter first name" required>
        </div>
        <div class="dws-input">
            <input type="password" th:field="*{password}" placeholder="Enter password" required>
            <input type="text" th:field="*{lastName}" placeholder="Enter last name" required>
        </div>
        <div class="dws-input">
            <input type="text" th:field="*{phone}" placeholder="Enter phone number" required>
            <select class="dws-list" th:field="*{role}">
                <option value="DRIVER" th:text="DRIVER"></option>
                <option value="OPERATOR" th:text="OPERATOR"></option>
            </select>
        </div>
        <input class="dws-submit" type="submit" name="submit" value="Registration" id="id_subreg">
    </form>
</div>


<div id="id_top" class="container-table">
    <form action="#" th:action="@{/admin/update}" th:object="${drivers}" method="post">
        <fieldset>
            <table>
                <thead>
                <tr>
                    <th>username</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>phone_number</th>
                    <th>car_number</th>
                    <!-- <th>driver_real_point</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="driver, itemStat : *{list}">
                    <td><input type="text"
                               th:field="*{list[__${itemStat.index}__].username}" /></td>
                    <td><input type="text"
                               th:field="*{list[__${itemStat.index}__].firstName}"/></td>
                    <td><input type="text"
                               th:field="*{list[__${itemStat.index}__].lastName}"/></td>
                    <td><input type="text"
                               th:field="*{list[__${itemStat.index}__].phone}"/></td>

                    <td>
                        <select type="text" th:field="*{list[__${itemStat.index}__].carNumber}">
                            <option th:if="${driver.carNumber}"
                                    th:value="${driver.carNumber}"
                                    th:utext="${driver.carNumber}"></option>
                            <option th:unless="${driver.carNumber}" th:value="${driver.getCarNumber()}">--</option>
                            <option th:each="car : ${cars}"
                                    th:value="${car.number}"
                                    th:utext="${car.number}"/>
                        </select>
                    </td>
                </tbody>
            </table>
            <input class="dws-submit" type="submit" name="submit" value="Update">
        </fieldset>
    </form>

</div>

</body>
</html>