<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Cost calculation</title>
	<link rel="stylesheet" href="../css/cost_page.css" type="text/css">
</head>
<body>

	<div class="container">
		
		<h1>Cost calculation</h1>

		<div th:if="${Message}">
			<div id="dws-alert">
				<span th:text="${Message}"></span><br/>
				<a href="" class="close">Close</a>
			</div>
		</div>

		<form action="#" th:action="@{/cost_page}" th:object="${ordersDTO}" method="POST">
			<div class="dws-input">
				<label>Start point:</label><br/>
				<input id="point_from" type="text" placeholder="Enter start_Point" th:field="*{point_from}" >
			</div>
			<div class="dws-input">
				<label>End point:</label><br/>
				<input id="point_to" type="text" placeholder="Enter end_Point" th:field="*{point_to}" >
			</div>
			<div class="dws-input">
				<input id="weight" type="text" th:field="*{weight}" >
			</div>
			<div class="dws-input">
				<label>Type of car:</label><br/>
				<select id="select_id" onchange="document.getElementById('weight').value=value">
					<option value=""></option>
					<option value="18">Gazelle (1.5 ton)</option>
					<option value="22">Goby (3 ton)</option>
				</select>
			</div>
			<input class="dws-button" type="submit" name="submit" value="Сalculate the cost"><br/><br/>
			<a href="/">Come back</a><br/>
		</form>

	</div>

</body>
</html>

