<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Customer</title>
	<link rel="stylesheet" href="../css/custandop.css">
</head>
<body>

<header>
	<nav>
		<div id="logo">
			<a href="#">De Livery</a>
		</div>
		<ul>
			<li><a href="/logout" class="active">Log Out</a></li>
		</ul>
	</nav>
</header>
<div class="menu">
	<h2>Menu</h2>
	<a href="/customer/aboutme">My profile</a><br>
	<a href="/customer/myorders">Get my orders</a><br>
	<a href="/customer/create">Create order</a><br>
</div>
</body>
</html>