<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Operator</title>
    <link rel="stylesheet" href="../css/custandop.css">
</head>
<body>

<header>
    <nav>
        <div id="logo">
            <a href="#">De Livery</a>
        </div>
        <ul>
            <li><a href="/logout" class="active">Log Out</a></li>
        </ul>
    </nav>
</header>

<section id="top">
    <div class="container">
        <div class="tab_container">
            <div id="tab1" class="tab_content">
                <table>
                    <tr><th>id_order</th><th>customer</th><th>point_from</th><th>point_to</th>
                        <th>cost</th><th>weight</th><th>start_time</th><th>end_time</th><th>driver</th>
                        <th>status</th><th>description</th><th>update</th>
                    </tr>
                    <tr th:each="o : ${orders}">
                        <form action="#" th:action="@{/operator}" th:object="${order}" method="post">
                        <td><input type="text" size="2" th:value="${o.getIdOrder}" id="id_order" name="id_order" disabled></td>
                        <td><input type="text" size="5" th:value="${o.customer}" id="customer" name="customer" disabled></td>
                        <td><input type="text" th:value="${o.getPointFrom}" id="point_from" name="point_from" disabled></td>
                        <td><input type="text" th:value="${o.getPointTo}" id="point_to" name="point_to" disabled></td>
                        <td><input type="text" size="2" th:value="${o.cost}" id="cost" name="cost" disabled></td>
                        <td><input type="text" size="2" th:value="${o.weight}" id="weight" name="weight" disabled></td>
                        <td><input type="text" size="6" th:value="${o.getStartTime}" id="start_time" name="start_time" disabled></td>
                        <td><input type="text" size="6" th:value="${o.getEndTime}" id="end_time" name="end_time" disabled></td>
                        <td><input type="text" size="5" th:value="${o.driver}" id="driver" name="driver"></td>
                        <td><input type="text" size="2" th:value="${o.status}" id="status" name="status"></td>
                        <td><input type="text" th:value="${o.description}" id="description" name="description" disabled></td>
                            <td><input type="submit" name="submit" value="Update"></td>
                        </form>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>