<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create orders</title>
    <link rel="stylesheet" href="../css/styleCustPage.css">
</head>
<body>
<div class="container">
    <h1>Create order:</h1>
    <form action="#" th:action="@{/customer/create}" th:object="${order}" method="post">
        <div class="row">
            <div class="col-25">
                <label for="">pointFrom</label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{pointFrom}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="">pointTo</label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{pointTo}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="">weight</label>
            </div>
            <div class="col-75">
                <select th:field="*{weight}" >
                    <option selected th:each="w : ${order.weightCat}" th:value="${w}" th:text="${w}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="">description</label>
            </div>
            <div class="col-75">
                <input type="text" th:field="*{description}">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Create">
        </div>
    </form>
</div>
</body>
</html>