!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create orders</title>
    <link rel="stylesheet" href="../css/custandop.css">
</head>
<body>

<header>
    <nav>
        <div id="logo">
            <a href="#">De Livery</a>
        </div>
        <ul>
            <li><a href="/logout" class="active">Log Out</a></li>
        </ul>
    </nav>
</header>

<section id="top">
    <div class="container">
        <p>Create order:</p>
        <form action="#" th:action="@{/customer/create}" th:object="${order}" method="post">
            <dl>
                <dd><dt>point_from<input type="text" class="dws-input" th:field="*{getPointFrom}">
                <dd><dt>point_to<input type="text" class="dws-input" th:field="*{getPointTo}">
                <dd><dt><select th:field="*{weight}" th:each="w : ${order.weightCat}">
                <option selected th:value="${w}" th:text="${w}"></option>
                        </select>
                <dd><dt>description<input type="text" class="dws-input" th:field="*{description}">
                <dd><input class="dws-submit" type="submit" name="submit" value="Create">
            </dl>
        </form>
    </div>
</section>
</body>
</html>