<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style-page1.css" type="text/css">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Расчет стоимости</h1>
    <form>
        <div class="dws-input">
            <br/><input type="text" name="point1" placeholder="Пункт загрузки">
        </div>
        <div class="dws-input">
            <input type="text" name="point2" placeholder="Пункт выгрузки">
        </div>
        <div class="dws-input">
            <input type="text" name="weight" placeholder="Вес отправки, кг">
        </div>
        <div class="dws-input">
            <input type="text" name="size" placeholder="Объем отправки, м3">
        </div>
        <div class="dws-input">
            <input type="text" name="price" placeholder="Ценность груза, руб">
        </div>
        <input class="dws-submit" type="submit" name="submit1" value="РАССЧИТАТЬ">
        <br/>
        <br/>
        <input class="dws-submit" type="submit" name="submit2" value="ОФОРМИТЬ ЗАЯВКУ">
    </form>
</div>
</body>
</html>