<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cost calculation</title>
    <link rel="stylesheet" href="../css/price_page.css" type="text/css">
</head>
<body>
<div class="container">
    <!--todo artem

    -->

    <div th:if="${Message}">
        <div id="alert">
            <span th:text="${Tariff}"></span><br/>
            <span th:text="${Distance}"></span><br/>
            <span th:text="${Message}"></span><br/>
            <div class="row">
                <div class="col-50">
                    <a href="/auth" class="btn">Arrange delivery</a>
                </div>
                <div class="col-50">
                    <a href="" class="btn" onclick="visible()">Close</a>
                </div>
            </div>
        </div>
    </div>

    <form action="/price_page" method="POST">
        <label for="pointFrom">PointFrom:</label><br>
        <div class="q">
            <input id="pointFrom" name="pointFrom" type="text" placeholder="Enter pointFrom">
            <span class="tooltiptext">Template: Country, City, Street, House</span>
        </div>
        <label for="pointTo">PointTo:</label>
        <div class="q">
            <input id="pointTo" name="pointTo" type="text" placeholder="Enter pointTo">
            <span class="tooltiptext">Template: Country, City, Street, House</span>
        </div>
        <br><input type="submit" value="Сalculate the cost"><br/><br/>
        <a id="comeBack" href="/">Come back</a>
        <!--
                    <div class="dws-input">
                        <label>Type of car:</label><br/>
                        <select id="select_id" onchange="document.getElementById('weight').value=value">
                            <option value=""></option>
                            <option value="18">Gazelle (1.5 ton)</option>
                            <option value="22">Goby (3 ton)</option>
                        </select>
                    </div>
        -->
    </form>
</div>
<script type="application/javascript">
    function visible() {
        document.getElementById("alert").style.visibility = 'hidden';
    }
</script>
<script type="application/javascript">

</script>
</body>
</html>