<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Customer</title>
	<link rel="stylesheet" href="../css/cust&op.css">
</head>
<body>
<div class="menuu">
	<ul>
		<li><a href="#" class="activee">Menu</a></li>
		<li><a href="/customer/aboutme" target="iframe1">My profile</a></li>
		<li><a href="/customer/myorders" target="iframe1">Get my orders</a></li>
		<li><a href="/customer/create" target="iframe1">Create order</a></li>
		<li><a href="/logout">Log Out</a></li>
	</ul>
</div>
<div class="content">
	<iframe name="iframe1" src="" scrolling="no"></iframe>
</div>
</body>
</html>