<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My orders</title>
    <link rel="stylesheet" href="../css/styleuserpage.css">
</head>
<body>
<h1>Your orders:</h1>
<div>
    <div class="row" style="overflow-x: auto;">
        <table>
            <tr>
                <th>idOrder</th>
                <th>pointFrom</th>
                <th>pointTo</th>
                <th>cost</th>
                <th>weight</th>
                <th>startTime</th>
                <th>endTime</th>
                <th>status</th>
                <th>description</th>
            </tr>
            <tr th:each="o : *{orders}">
                <td><input type="text" size="1" th:value="${o.idOrder}" id="idOrder" name="idOrder" disabled></td>
                <td><input type="text" th:value="${o.pointFrom}" id="pointFrom" name="pointFrom" disabled></td>
                <td><input type="text" th:value="${o.pointTo}" id="pointTo" name="pointTo" disabled></td>
                <td><input type="text" size="2" th:value="${o.cost}" id="cost" name="cost" disabled></td>
                <td><input type="text" size="2" th:value="${o.weight}" id="weight" name="weight" disabled></td>
                <td><input type="text" size="6" th:value="${o.startTime}" id="startTime" name="startTime" disabled></td>
                <td><input type="text" size="6" th:value="${o.endTime}" id="endTime" name="endTime" disabled></td>
                <td><input type="text" size="2" th:value="${o.status}" id="status" name="status" disabled></td>
                <td><input type="text" th:value="${o.description}" id="description" name="description" disabled></td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="center">
            <a href="/customer/create" class="createOrders">Create orders</a>
        </div>
    </div>
</div>
</body>
</html>